.bookSummary {
    border-top-width: 0px !important;
    border-top-color: #FFFFFF !important;
}

.book-form input.ng-invalid.ng-touched {
    background-color: #F8E7E7;
}

.book-form input.ng-valid.ng-touched {
    background-color: #EEF8E7;
}

.book-form textarea.ng-invalid.ng-touched {
    background-color: #F8E7E7;
}

.book-form textarea.ng-valid.ng-touched {
    background-color: #EEF8E7;
}

.book-form select.ng-invalid.ng-touched {
    background-color: #F8E7E7;
}

.book-form select.ng-valid.ng-touched {
    background-color: #EEF8E7;
}

.loggedOn {
    margin: 10px 0px;
    padding-left: 25px;
    padding-right: 25px;
}

.welcomeText {
    text-transform: none;
    font-size: 14px; 
    color: white;
}

.googleBookImageImport {
    padding-right: 15px;
    padding-bottom: 15px;
}

.googleBookConfirm {
    margin-top: 0px;
}

.googleBookText {
    background-color: #fffcf5;
}

.listThumbnail {
    padding-right: 15px;
}

.bookSummaryButtons {
    vertical-align: top !important;
}

.btnList {
    margin-bottom: 10px;
}

.reviewSummary {
    white-space: pre-wrap;
    font-size: 14px;
}

.reviewSummaryAuthor {
    font-size: 14px;
}

.logonOptions {
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.reviewDetail {
    font-size: 14px;
    white-space: pre-wrap;
}

.googleSummary {
    margin-top: 20px;
    font-size: 16px;
}

#googleSummaryDetail {
    font-size: 14px;
}
#googleSummaryDetail p {
    font-size: 14px;
}

.bookspager {
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    padding-bottom: 20px;
}

.bookContent {
    padding-left: 10px;
}

.summaryStatsDetails {
    font-size: 0.65em;
}

.dropdown-menu {
 position:relative;
 width: 75%;
 top: 0px !important;
    left: 25px !important;
}

.sidebar[data-background-color="black"] .nav li:not(.active) > a.dropdown-item , .off-canvas-sidebar[data-background-color="black"] .nav li:not(.active) > a.dropdown-item {
    color: #000000;
}

input.searchByEntry {
    width: 75%;
    margin-left: 25px;
}

select.searchByEntry {
    width: 75%;
    margin-left: 25px;
}

.form-control::-moz-placeholder {
  color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.form-control:-moz-placeholder {
  color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.form-control::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.form-control:-ms-input-placeholder {
  color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50); 
}

.menuCriteriaInput {
    display: none;
}

.bookCard {
    padding-bottom: 50px !important;
}

.privacy, .help {
    padding: 20px;
}