<div class="container-fluid">
    <div ng-if="bookRetrievalError" class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="alert alert-warning">
                <p>Sorry - we've been unable to retrieve details of the requested book - please try later.</p>
            </div>
        </div>
    </div>
    <div ng-if="commentSaveError" class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="alert alert-warning">
                <p>Sorry - we've been unable to save your comment - please try later.</p>
            </div>
        </div>
    </div>
    <div ng-if="commentDeleteError" class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="alert alert-warning">
                <p>Sorry - we've been unable to delete your comment - please try later.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{book.title}}</h4>
                </div>

                <div class="bookContent">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a data-target="#bookDetails" aria-controls="bookDetails" role="tab" data-toggle="tab">Book details</a></li>
                        <li role="presentation"><a data-target="#googleBooksSummary" aria-controls="googleBooksSummary" role="tab" data-toggle="tab">Google Books Summary</a></li>
                    </ul>


                    <!-- Tab panes -->
                    <div class="tab-content" id="mytabs">
                        <div role="tabpanel" class="tab-pane active" id="bookDetails">
                            <div class="bookCard content">
                                <img ng-if="book.googleBookDetails.volumeInfo.imageLinks.thumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.thumbnail}}">
                                <img ng-if="!book.googleBookDetails.volumeInfo.imageLinks.thumbnail && book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail}}">
                                <p><b>Title: </b>{{book.title}}</p>
                                <p><b>Author: </b>{{book.author}}</p>
                                <p><b>Rating: </b>{{book.rating | capitalize}}</p>
                                <p><b>Review Date: </b>{{book.entered[2] + '-' + book.entered[1] + '-' + book.entered[0]}}</p>
                                <p><b>Genre: </b>{{book.genre}}</p>
                                <p class="reviewDetail"><b>Reviewer's Summary:</b> {{book.summary}}</p>
                                <p ng-if="book.createdBy && book.createdBy.fullName"><b>Reviewer:</b>
                                    <span ng-if="book.createdBy && book.createdBy.picture && book.createdBy.link"><br><a href="{{book.createdBy.link}}" target="_blank"><img class="rounded listThumbnail" ng-src="{{book.createdBy.picture}}" height="50"></a></span>
                                    <span ng-if="book.createdBy && book.createdBy.picture && !book.createdBy.link"><br><img class="rounded listThumbnail" ng-src="{{book.createdBy.picture}}" height="50"></span> {{book.createdBy.fullName}}
                                </p>
                                <p ng-if="book.displayGooglePreview">
                                    <b>Book Preview:</b>
                                    <a href="https://books.google.co.uk/books?id={{book.googleBookId}}&printsec=frontcover#v=onepage&q&f=true" target="_blank">
                                        <img class="" ng-src="./images/gbs_preview_button1.gif">
                                    </a>
                                </p>

                                <hr>

                                <div class="comments">
                                    <h5>Comments</h5>
                                    <p ng-if="(!book.comments || book.comments.length === 0) && (user.editor || user.admin)">Be the first to comment on this book review!</p>
                                    <p ng-if="(!book.comments || book.comments.length === 0) && (!user.editor && !user.admin)">There are no comments yet on this book.</p>

                                    <div ng-if="(book.comments || book.comments.length > 0)" class="container-fluid">
                                        <div class="row commentsRow" ng-repeat="comment in book.comments">
                                            <div ng-if="book.allowComment" class="col-xs-1">
                                                <img ng-if="comment.owner.picture && (!comment.deleted)" class="commentThumbnail" ng-src="{{comment.owner.picture}}" height="75">
                                            </div>
                                            <div ng-if="!comment.deleted" class="col-xs-9">
                                                <div class="commentMeta"><span ng-if="comment.owner.fullName">{{comment.owner.fullName}} - </span>{{comment.entered[2] + '/' + comment.entered[1] + '/' + comment.entered[0] + ' ' + comment.entered[3] + ':' + pad(comment.entered[4], 2)}}</div>
                                                <span class="commentDetail">{{comment.comment}}</span>
                                            </div>
                                            <div ng-if="comment.deleted" class="col-xs-9">
                                                <div class="commentMeta">Comment deleted <span ng-if="comment.deletedBy">by {{comment.deletedBy}}</span></div>
                                            </div>
                                            <div class="col-xs-2">
                                                <button ng-if="!comment.deleted && comment.allowDelete" type="button" class="btn btn-xs btn-danger btnList" ng-click="deleteComment(book.id, comment.id)"><i class="ti-close"> Delete</i></button>
                                            </div>
                                            <div ng-if="!book.allowComment" class="col-xs-1">
                                            </div>
                                        </div>
                                    </div>

                                    <form ng-if="user.editor || user.admin" name="commentsForm" novalidate class="comments-form">
                                        <label for="commentEntry">Add review comments</label>

                                        <textarea id="summaryArea" rows="4" name="newComment" ng-model="$parent.newComment" class="form-control border-input" placeholder="Your comments on the book or the book review..." value="" aria-describedby="commentHelpBlock" required min="1" max="1000"></textarea>

                                        <small id="commentHelpBlock" class="form-text">
                                          Enter a comment about the book, the book review or previous comments.<br>
                                          Remember: all entries as publicly visible.
                                        </small>

                                        <div class="text-center">
                                            <button type="submit" ng-click="saveComment(newComment, book, commentsForm)" ng-disabled="commentsForm.$invalid" class="btn btn-info btn-fill btn-wd">Submit comment</button>
                                        </div>
                                    </form>
                                </div>


                                <div class="adminControls" ng-if="book.allowUpdate || book.allowDelete">
                                    <h5>Update or delete book review</h5>
                                    <div class="text-center">
                                        <button type="submit" ng-click="updateBook(book)" class="btn btn-info btn-fill btn-wd maint-button">Update Book Review</button>
                                        <button type="submit" ng-click="deleteBook(book)" class="btn btn-danger btn-fill btn-wd maint-button">Delete Book Review</button>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="googleBooksSummary">
                            <div class="bookCard content">
                                <img ng-if="book.googleBookDetails.volumeInfo.imageLinks.thumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.thumbnail}}">
                                <img ng-if="!book.googleBookDetails.volumeInfo.imageLinks.thumbnail && book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail}}">
                                <p class="googleSummary"><b>Google Summary:</b></p>
                                <div id="googleSummaryDetail" ng-bind-html="book.googleBookDetails.volumeInfo.description"></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
</div>
