<div class="container-fluid">
    <div ng-if="bookRetrievalError" class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="alert alert-success">
                <p>Sorry - we've been unable to retrieve details of the requested book - please try later.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{book.title}}</h4>
                </div>

                <div class="bookContent">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a data-target="#bookDetails" aria-controls="bookDetails" role="tab" data-toggle="tab">Book details</a></li>
                        <li role="presentation"><a data-target="#googleBooksSummary" aria-controls="googleBooksSummary" role="tab" data-toggle="tab">Google Books Summary</a></li>
                    </ul>


                    <!-- Tab panes -->
                    <div class="tab-content" id="mytabs">
                        <div role="tabpanel" class="tab-pane active" id="bookDetails">
                            <div class="bookCard content">
                                <img ng-if="book.googleBookDetails.volumeInfo.imageLinks.thumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.thumbnail}}">
                                <img ng-if="!book.googleBookDetails.volumeInfo.imageLinks.thumbnail && book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail}}">
                                <p><b>Title: </b>{{book.title}}</p>
                                <p><b>Author: </b>{{book.author}}</p>
                                <p><b>Rating: </b>{{book.rating | capitalize}}</p>
                                <p><b>Review Date: </b>{{book.entered[2] + '-' + book.entered[1] + '-' + book.entered[0]}}</p>
                                <p><b>Genre: </b>{{book.genre}}</p>
                                <p class="reviewDetail"><b>Reviewer's Summary:</b> {{book.summary}}</p>
                                <p ng-if="book.createdBy && book.createdBy.fullName"><b>Reviewer:</b> 
                                    <span ng-if="book.createdBy && book.createdBy.picture && book.createdBy.link"><br><a href="{{book.createdBy.link}}" target="_blank"><img class="rounded listThumbnail" ng-src="{{book.createdBy.picture}}" height="50"></a></span>
                                    <span ng-if="book.createdBy && book.createdBy.picture && !book.createdBy.link"><br><img class="rounded listThumbnail" ng-src="{{book.createdBy.picture}}" height="50"></span>
                                    
                                    {{book.createdBy.fullName}}
                                </p>
                                <p ng-if="book.displayGooglePreview">
                                    <b>Book Preview:</b>
                                    <a href="https://books.google.co.uk/books?id={{book.googleBookId}}&printsec=frontcover#v=onepage&q&f=true" target="_blank">
                                        <img class="" ng-src="./images/gbs_preview_button1.gif">
                                    </a>
                                </p>

                                <hr>

                                <div class="comments">
                                    Here will be some comments
                                </div>


                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="googleBooksSummary">
                            <div class="bookCard content">
                                <img ng-if="book.googleBookDetails.volumeInfo.imageLinks.thumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.thumbnail}}">
                                <img ng-if="!book.googleBookDetails.volumeInfo.imageLinks.thumbnail && book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail}}">
                                <p class="googleSummary"><b>Google Summary:</b></p>
                                <div id="googleSummaryDetail" ng-bind-html="book.googleBookDetails.volumeInfo.description"></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
</div>
