<div class="container-fluid">
    <div ng-if="bookCreateError" class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="alert alert-danger">
                <p>Sorry - there was a problem saving your book details. Please try again later.</p>
            </div>
        </div>
    </div>
    <div ng-if="bookCreateOk" class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="alert alert-success">
                <p>Book details saved as requested.</p>
            </div>
        </div>
    </div>
    <div ng-if="bookRetrievalError" class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="alert alert-success">
                <p>Unable to get the details for the request book. Please try later.</p>
            </div>
        </div>
    </div>
    <div ng-if="bookUpdateOK" class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="alert alert-success">
                <p>Book details updated as requested.</p>
            </div>
        </div>
    </div>
    <div ng-if="bookUpdateError" class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="alert alert-success">
                <p>Unable to get the details of the selected book. Please try later.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Enter details about a book you have read</h4>
                </div>
                <div class="content">
                    <form name="bookForm" novalidate class="book-form">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="title">Book Title</label>
                                    <input type="text" id="title" ng-model="book.title" class="form-control border-input" placeholder="Enter the book title" value="" required="" min="2" max="100" ng-blur="searchGoogle(book)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="author">Author</label>
                                    <input type="text" id="author" ng-model="book.author" class="form-control border-input" placeholder="Enter the authors name" value="" required="" min="1" max="75">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="genre">Genre</label>
                                    <input type="text" id="genre" ng-model="book.genre" class="form-control border-input" placeholder="Enter the books main genre" required="" min="1" max="35">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="rating">Your Rating Of The Book</label>
                                    <select id="rating" ng-model="book.rating" class="form-control border-input" ng-init="book.rating = options[2].value" ng-options="option.value as option.name for option in options">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="similar">Similar to what other books?</label>
                                    <input id="similar" type="text" ng-model="book.similarTo" class="form-control border-input" placeholder="Optionally list any books this reminds you off (comma separate more than one book)" value="" max="200">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="summary">Your review / summary</label>
                                    <textarea id="summaryArea" rows="8" name="summary" ng-model="book.summary" class="form-control border-input" placeholder="What did you think of the book?" value="" aria-describedby="summaryHelpBlock" required min="1" max="5000"></textarea>
                                    <small id="summaryHelpBlock" class="form-text">
                                      Enter anything you like that may help someone else to decide whether the book is worth reading or not. Probably best not to say what the ending is!<br>
                                      Remember: all entries are publicly visible.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div ng-if="googleBookData.length > 0" class="row">

                            <div class="col-md-8">
                                <h5>{{googleBookData[googleMatchesIndex].volumeInfo.title}}</h5>
                                <p>
                                    <img class="rounded pull-left googleBookImageImport" ng-src="{{googleBookData[googleMatchesIndex].volumeInfo.imageLinks.thumbnail}}"> {{googleBookData[googleMatchesIndex].volumeInfo.description ? googleBookData[googleMatchesIndex].volumeInfo.description : 'No description available'}}
                                </p>
                                <p>
                                    {{googleBookData[googleMatchesIndex].volumeInfo.authors ? 'By: ' + googleBookData[googleMatchesIndex].volumeInfo.authors.join() : ''}}
                                </p>
                            </div>
                            <div class="panel googleBookText col-md-4">
                                <h5 class="googleBookConfirm">Have we found the right book?</h5>
                                <p>Does this look like the book you've read? If so, please click the checkbox. If not, please try the scroll buttons to see alternatives and then click the check box if you find a good match.</p>
                                <p>If none of the options look like a good match, please leave the check box unticked.</p>
                                <nav aria-label="Paging">
                                    <ul class="pager">
                                        <li ng-class="{'disabled' : googleMatchesIndex === 0}"><a ng-click="googleMatchesMinus()" href="">&laquo; Previous</a></li>
                                        <li ng-class="{'disabled' : googleMatchesIndex === (google.books.length  - 1)}"><a ng-click="googleMatchesPlus()" href="">Next &raquo;</a></li>
                                    </ul>
                                </nav>

                                <div class="form-group">
                                    <input id="google" ng-click="googleCheckBoxTicked()" type="checkbox" ng-model="book.foundOnGoogle" class="form-control border-input">
                                </div>
                                
                                <input id="googleBookId" ng-model="book.googleBookId" name="googleBookId" type="hidden" ng-model="book.googleBookId">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" ng-click="save(book, bookForm)" ng-disabled="bookForm.$invalid" class="btn btn-info btn-fill btn-wd">Save Book Details</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>
