<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card help">

                <h1>Information about logon</h1>

                <p>If you are seeing this page, it almost certainly means that you are trying to do something with
                    {{env.applicationName}} application and either</p>
                <ul>
                <li>You dont have the required permissions to do what you were trying to do or, more likely,</li>
                <li>Your "session" has timed out. Sessions on the {{env.applicationName}} application last for one day if you don't logout.
                    Either way, the answer is probably simple, logon again using the "Login with Facebook" or "Login with Google" links</li>
                </ul>

            </div>
        </div>
    </div>
</div>
