<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card privacy">

                <h1>Website Privacy Policy</h1>
                <p><strong>The policy:</strong> This privacy policy is for this website; [<a href="http://cloudybookclub.com" target="_blank">cloudybookclub.com</a>] and served by Aidan Whiteley and governs the privacy of its users who choose to use it. It explains how we comply with the GDPR (General Data Protection Regulation), the DPA (Data Protection Act) [pre GDPR enforcement] and the PECR (Privacy and Electronic Communications Regulations).</p>
                <p>This policy will explain areas of this website that may affect your privacy and personal details, how we process, collect, manage and store those details and how your rights under the GDPR, DPA &amp; PECR are adhere to. Additionally it will explain the use of cookies or software, advertising or commercial sponsorship from third parties and the download of any documents, files or software made available to you (if any) on this website. Further explanations may be provided for specific pages or features of this website in order to help you understand how we, this website and its third parties (if any) interact with you and your computer / device in order to serve it to you. Our contact information is provided if you have any questions.</p>
                <h2>The DPA &amp; GDPR May 2018</h2>
                <p>We and this website complies to the DPA (Data Protection Act 1998) and already complies to the GDPR (General Data Protection Regulation) which comes into affect from May 2018. We will update this policy accordingly after the completion of the UK's exit from the European Union.</p>
                <h2>Use of Cookies</h2>
                <p>This website uses cookies to better the users experience while visiting the website. </p>
                <p><strong>What are cookies?</strong> Cookies are small files saved to the user's computers hard drive that track, save and store information about the user's interactions and usage of the website. This allows the website, through its server to provide the users with a tailored experience within this website.<br /> Users are advised that if they wish to deny the use and saving of cookies from this website on to their computers hard drive they should take necessary steps within their web browsers security settings to block all cookies from this website and its external serving vendors or use the cookie control system if available upon their first visit.</p>
                <h2>Website Visitor Tracking</h2>
                <p>This website uses tracking software to monitor its visitors to better understand how they use it. The software will save a cookie to your computers hard drive in order to track and monitor your engagement and usage of the website, but will not store, save or collect personal information.<br />
                </p>
                <h2>Adverts and Sponsored Links</h2>
                <p>This website does not currently contain sponsored links and adverts. </p>
                <p>It does link through to Google's Books web site that contains adverts and sales links but this link isn't sponsored.</p>
                <h2>Downloads &amp; Media Files</h2>
                <p>Any downloadable documents, files or media made available on this website are provided to users at their own risk. While all precautions have been undertaken to ensure only genuine downloads are available users are advised to verify their authenticity using third party anti virus software or similar applications.<br> We accept no responsibility for third party downloads and downloads provided by external third party websites and advise users to verify their authenticity using third party anti virus software or similar applications.</p>
                <h2>Contact &amp; Communication With us</h2>
                <p>Users contacting this us through this website do so at their own discretion and provide any such personal details requested at their own risk. Your personal information is kept private and stored securely until a time it is no longer required or has no use.</p>
                <p>Where we have clearly stated and made you aware of the fact, and where you have given your express permission, we may use your details to send you products/services information through a mailing list system. This is done in accordance with the regulations named in 'The policy' above.</p>
                <h2>Email Mailing List </h2>
                <p>We do not yet operate an email mailing list program.</p>
                <h2>External Website Links &amp; Third Parties</h2>
                <p>Although we only look to include quality, safe and relevant external links, users are advised to adopt a policy of caution before clicking any external web links mentioned throughout this website. (External links are clickable text / banner / image links to other websites, similar to; <a href="http://www.cottagebytheriver.co.uk" title="Church Cottage Llawhaden" target="_blank">Church Cottage, Llawhaden</a> or <a href="http://www.celticinst.com" title="Celtic Instrumentation Ltd" target="_blank">www.celticinst.com</a>.)</p>
                <p>We cannot guarantee or verify the contents of any externally linked website despite our best efforts. Users should therefore note they click on external links at their own risk and we cannot be held liable for any damages or implications caused by visiting any external links mentioned.</p>
                <h2>Social Media Policy &amp; Usage</h2>
                <p>We will never ask for user passwords or personal details on social media platforms.  </p>
                <h2>Resources &amp; Further Information</h2>
                <ul>
                    <li><a href="https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/" title="Overview of the GDPR" target="_blank">Overview of the GDPR - General Data Protection Regulation</a></li>
                    <li><a href="http://www.legislation.gov.uk/ukpga/1998/29/contents" title="Data Protection Act 1998" target="_blank">Data Protection Act 1998</a></li>
                    <li><a href="http://www.legislation.gov.uk/uksi/2003/2426/contents/made" title="Privacy and Electronic Communications Regulations 2003" target="_blank">Privacy and Electronic Communications Regulations 2003</a></li>
                    <li><a href="https://ico.org.uk/for-organisations/guide-to-pecr/" title="Privacy and Electronic Comms Regulations The Guide" target="_blank">The Guide to the PECR  2003</a></li>
                    <li><a href="http://twitter.com/privacy" title="Twitter Privacy Policy" target="_blank">Twitter Privacy Policy</a></li>
                    <li><a href="http://www.facebook.com/about/privacy/" title="Facebook Privacy Policy" target="_blank">Facebook Privacy Policy</a></li>
                    <li><a href="http://www.google.com/privacy.html" title="Google Privacy Policy" target="_blank">Google Privacy Policy</a></li>
                    <li><a href="http://www.jamieking.co.uk/resources/free_sample_privacy_policy.html" title="Website Privacy Policy UK Template" target="_blank">Website Privacy Policy Template</a></li>
                </ul>
                <p>v.3.0 November 2017 Edited &amp; customised by: Aidan Whiteley</p>
            </div>
        </div>
    </div>
</div>
