<div class="container-fluid">

    <div ng-if="dataRetrievalError" class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="alert alert-danger">
                <p>Sorry - there was a problem getting book data. Please try again later.</p>
            </div>
        </div>
    </div>

    <div ng-if="bookDeletedOk" class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="alert alert-danger">
                <p>The '{{deletedBook}}' book was deleted OK.</p>
            </div>
        </div>
    </div>

    <div ng-if="screenWidth >= 768" ng-include="'views/includes/stats.html'"></div>
    
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div id="recentlyAddedId" class="header">
                    <h4 class="title">Recently added books</h4>
                </div>
                <div class="content">


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Rating</th>
                                <th class="hidden-xs hidden-sm">Date</th>
                                <th class="hidden-xs hidden-sm">Genre</th>
                                <th class="hidden-xs hidden-sm">See more...</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="book in data.content">
                                <td><a ng-href="#/book/{{book.id}}">{{book.title}}</a></td>
                                <td>{{book.author}}</td>
                                <td>{{book.rating | capitalize}}</td>
                                <td class="hidden-xs hidden-sm">{{book.entered[2] + '-' + book.entered[1] + '-' + book.entered[0]}}</td>
                                <td class="hidden-xs hidden-sm">{{book.genre}}</td>
                                <td class="hidden-xs hidden-sm">
                                    <button type="button" class="btn btn-primary" ng-click="toggleSelected(book)"><i ng-class="book.expanded ? 'ti-angle-up' : 'ti-angle-down'"></i></button>
                                </td>
                            </tr>
                            <tr class="bookSummary" ng-if="book.expanded" ng-repeat-end="">
                                <td class="bookSummary" colspan="5">
                                    <img ng-if="book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail" class="rounded pull-left listThumbnail" ng-src="{{book.googleBookDetails.volumeInfo.imageLinks.smallThumbnail}}">
                                    <p class="reviewSummary"><b>Summary:</b> {{book.summary}}</p>
                                    <p ng-if="book.createdBy.fullName" class="reviewSummaryAuthor"><b>Reviewer: </b> {{book.createdBy.fullName}}</p>
                                </td>
                                <td class="bookSummary bookSummaryButtons">
                                    <button type="button" class="btn btn-xs btn-info btnList" ng-click="bookDetails(book)"><i class="ti-new-window"> Full Details</i></button><br>
                                    <button ng-if="book.allowUpdate" type="button" class="btn btn-xs btn-info btnList" ng-click="editSelected(book)"><i class="ti-pencil-alt"> Edit</i></button><br>
                                    <button ng-if="book.allowDelete" type="button" class="btn btn-xs btn-danger btnList" ng-click="deleteSelected(book)"><i class="ti-close"> Delete</i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Scroll through table">
                        <ul class="pager">
                            <li ng-class="{'disabled': data.first}"><a ng-click="previous()" href="">Previous</a></li>
                            <span class="bookspager">Page {{data.number + 1}} of {{data.totalPages}}</span>
                            <li ng-class="{'disabled': data.last}" ><a ng-click="next()" href="">Next</a></li>
                        </ul>
                    </nav>
                    

                    <div class="footer">
                        <hr>
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="screenWidth < 768" ng-include="'views/includes/stats.html'"></div>
    
</div>
